.p-menubar-container {
  width: 100%;
  font-weight: 600 !important;
  font-size: 20px;
}
.p-menuitem-text {
  font-size: 25px;
  color: rgb(30, 30, 30) !important;
  font-weight: bold;
}
.p-menuitem-icon {
  color: rgb(30, 30, 30) !important;
}

body .p-menubar {
  border: none;
  background: inherit;
}

body .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link:hover {
  background: rgb(216, 209, 209);
  border-radius: 10px;
}

body .p-menubar .p-menuitem-link {
  font-weight: 500;
}

body .p-menubar .p-menuitem-link:hover {
  color: #f2653c;
}
