input[type="text"] {
  width: 350px;
}

input[type="password"] {
  width: 350px;
}

input[type="email"] {
  width: 350px;
}

#bio {
  width: 350px;
  height: 100px;
}
h3 {
  color: black;
  align-items: center;
  text-align: center;
}
